
.Main {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.Main > .PageSection {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.PageSection > div{
  width: 61.527%;
  padding-left: 19.2365%;
  padding-right: 19.2365%;
  justify-content: space-evenly;
}

.header {
  display: flex;
  flex-direction: row;
  height: 8.53875vw;
}

.headerPanel {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 61.5vw;
  height: 3.75vw;
  justify-content: space-around;
  align-self: center;
}

.headerPanel .NavMenu {
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.heroSection {
  background: linear-gradient(to bottom, #495e57 84%, white 0%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 31.1625vw;
  justify-content: space-between;
}
.heroTextSection{
  width: 308px;
  display:flex;
  flex-direction: column;
  padding-top: 2.8125vw;
}
.heroTextSection > * {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom:0;
  margin-left: 1vw
}

.heroTextSection #restaurantTitle {
  color: #f4ce14;
  display:flex;
  width: 308px;
  height: 52px;
  align-items:center;
  margin-top: 1.18vw;
}

.heroTextSection #restaurantSubTitle{
  color: #edefee;
  display: flex;
  height:30px;
  width: 112px;
  align-items: center;
  margin-top: 0.5vw;
}

.heroTextSection #restaurantDescription{
  color: #edefee;
  width: 248px;
  height: 102px;
  margin-top: 1.1vw;
  display:flex;
  align-items: center;

}

.heroTextSection .buttonPrimary{
  margin-top:1.64vw

}

.heroImageSection {
  display: flex;
  justify-content: right;
}

.heroImage {
  height: 29.583vw;
  width: 26.041vw;
  margin-top: 1.56vw;
  border-radius: 1vw;
  justify-content: right;
}

.highlightsSection {
  display: flex;
  flex-direction: column;
  height: 42.44vw;
  width: 59.722vw !important;
  padding-left: 20.138vw !important
}

.highlightsSection > section{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.highlightsSection #highlightsSectionBanner {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  height: 5.3472vw;
  align-items: start;
}
.highlightsSection #highlightsSectionBanner .displayText {
  margin-block-start:0;
  margin-block-end: 0;
  display: flex;
  height: 64px;
  align-items:end;
}

.highlightsCard {
  display: flex;
  flex-direction: column;
  background-color: #edefee;
  width: 18.3vw;
  height: 30.486vw;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  overflow: hidden;
}

.highlightsCard > section{
  display: grid;
}

.highlightsCard .cardImageSection {
  height: 12.865vw;
  width: 18.379vw;
}

.cardTextSection{
  height: 17.620vw;
  width: 18.379vw;
  padding-bottom: 1.6642vw;
}
.cardTextSection > section{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.6642vw;
  padding-right: 1.6642vw;
}

.cardTextSection .cardSubTitleText{
  color: #ee9972;
}

.cardTextSection .paragraphTextRegular{
  margin-top:0;
}

.NavMenu {
  display: inline-flex;
  flex-basis: auto;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Nav {
  justify-content: space-between;
}

.Footer {
  display: flex;
  flex-direction: row;
  height: 28.958vw;
  background-color: #d9d9d9;
  align-items: center;
}

.footerPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footerPanel .NavMenu {
  display:flex;
  flex-direction: column;
}

.footerPanel .softHighlightText{
  list-style-type:disc;
}

.footerPanel .sectionTitleText {
  color: #495e57;
}

li {
  list-style-type: none;
}

.Logo{
  object-fit: contain;
  width: 16.25vw;
  height: 3.75vw;
}

.displayText {
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: 500;

}

.subtitleText {
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: 400;
}

.itemText {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.displayDescriptionText {
  font-family: "Karla";
  font-size: 18px;
  font-weight:500;
}

.cardTitleText{
  font-family: 'Markazi Text';
  font-size: 24px;
  font-weight: 500;
  line-height: 90%;
  text-align: left;
}

.cardSubTitleText{
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.cardLinkText{
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  align-items: start;
  text-decoration: none;
  color: #333333;
}

.paragraphTextRegular{
  font-family: 'Karla';
  font-weight: 400;
  font-size: 16;
  align-items: start;
  max-width: 297px;
  color: #495e57;
}

.sectionTitleText{
  font-family: 'Karla';
  font-weight: 800;
  font-size: 20px;
  text-align: left;
  align-items: start;
}

.softHighlightText{
  font-family: 'Karla';
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  align-items: start;
  max-width: 210.86px;
  color: 333333;
}

.buttonPrimary {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #f4ce14;
  height: 60px;
  width: 200px;
  padding: 0%;
  border-style: none;
  border-radius: 0.3vw;
  align-items: center;
  justify-content: center;
}