:root{

  --plant-green: #495e57;
  --lemon-yellow: #F4CE14;
  --peach: #ee9972;
  --cream: #FBDABB;
  --light-grey: #EDEFEE;
  --dark-grey: #333333;
  --mid-grey: #d9d9d9;

  --fluid-font-scaler: 1px;


  --fluid-16: 16px;
  --fluid-18: 18px;
  --fluid-20: 20px;
  --fluid-24: 24px;
  --fluid-40: 40px;
  --fluid-64: 64px;

  --webpage-vw: 1vw;

}

.webpage{
  min-height: 100vh;
}
.link {
  text-decoration: none;
}

.webpage:not(#homepage) .heroTextSection #restaurantDescription{
  display: none;
}

.webpage:not(#homepage) .heroTextSection .buttonPrimary{
  display:none;
}
.webpage:not(#homepage) .heroImageSection{
  display:none;
}
.PageSection:has(> .Footer){
  margin-top:auto;
}

/*Booking Section*/
.bookingSection select{
  border-image: none;
}

.bookingSection select:hover{
  background-color: var(--light-grey);
}
.bookingSection select option{
  background-color: var(--light-grey);
  display: flex;
}
.bookingSection select option:checked{
  background-color: var(--mid-grey);
}


/*Text*/
.bookingDetailInputField.cardSubTitleText{
  color:var(--plant-green);
}

/*Fonts*/
.displayText {
  font-family: 'Markazi Text';
  font-size: var(--fluid-64);
  font-weight: 500;

}

.subtitleText {
  font-family: 'Markazi Text';
  font-size: var(--fluid-40);
  font-weight: 400;
}

.displayDescriptionText {
  font-family: "Karla";
  font-size: var(--fluid-18);
  font-weight:500;
}

.cardTitleText{
  font-family: 'Markazi Text';
  font-size: var(--fluid-24);
  font-weight: 500;
  line-height: 90%;
  text-align: left;
}

.cardSubTitleText{
  font-family: 'Karla';
  font-size: var(--fluid-16);
  font-weight: 700;
  text-align: left;
}

.cardOptionTitleText{
  font-family: 'Karla';
  font-size: var(--fluid-16);
  font-weight: 800;
  text-align: left;
}

.cardLinkText{
  font-family: 'Karla';
  font-size: var(--fluid-16);
  font-weight: 700;
  text-align: left;
  align-items: start;
  text-decoration: none;
  color: var(--dark-grey);
}

.paragraphTextRegular{
  font-family: 'Karla';
  font-weight: 400;
  font-size: var(--fluid-16);
  align-items: start;
  max-width: calc(297*var(--fluid-font-scaler));
  color: var(--plant-green);
}

.sectionTitleText{
  font-family: 'Karla';
  font-weight: 800;
  font-size: var(--fluid-20);
  text-align: left;
  align-items: start;
}

.softSectionTitleText{
  font-family: 'Karla';
  font-weight: 700;
  font-size: var(--fluid-18);
  text-align: left;
  align-items: start;
}

.softHighlightText{
  font-family: 'Karla';
  font-weight: 500;
  font-size: var(--fluid-20);
  text-align: left;
  align-items: start;
  max-width: calc(210.86*var(--fluid-font-scaler));
  color: 333333;
}

@media screen and (min-width: 720px) {
  :root {

    --webpage-vw: clamp(7.2px, 1vw, 14.4px);

    --fluid-font-scaler: clamp(0.5px, calc(0.5px + 0.5 * (100vw - 720px)/720 ), 1px);


    --fluid-16: clamp(8px, calc(8px + 8 * ((100vw - 720px)/720)), 16px);
    --fluid-18: clamp(9px, calc(9px + 9 * ((100vw - 720px)/720)), 18px);
    --fluid-20: clamp(10px, calc(10px + 10 * ((100vw - 720px)/720)), 20px);
    --fluid-24: clamp(12px, calc(12px + 12 * ((100vw - 720px)/720)), 24px);
    --fluid-40: clamp(20px, calc(20px + 20 * ((100vw - 720px)/720)), 40px);
    --fluid-64: clamp(32px, calc(32px + 32 * ((100vw - 720px)/720)), 64px);
  }
  .window{
    display:flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }

  .webpage {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(100 * var(--webpage-vw));
  }

  .webpage > .PageSection {
    display:flex;
    flex-direction: column;
    width: 100%;
  }

  .PageSection > div{
    width: 61.527%;
    padding-left: 19.2365%;
    padding-right: 19.2365%;
    justify-content: space-evenly;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: calc(8.53875*var(--webpage-vw));
  }

  .headerPanel {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: calc(61.5*var(--webpage-vw));
    height: calc(3.75*var(--webpage-vw));
    justify-content: space-around;
    align-self: center;
  }

  .headerPanel .NavMenu {
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }

  .heroSection {
    background: linear-gradient(to bottom, var(--plant-green) 84%, white 0%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(31.1625*var(--webpage-vw));
    justify-content: space-between;
  }
  .webpage:not(#homepage) .heroSection{
    background: var(--plant-green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(15*var(--webpage-vw));
    justify-content: space-between;
  }
  .heroTextSection{
    width: calc(308*var(--fluid-font-scaler));
    display:flex;
    flex-direction: column;
    padding-top: calc(2.8125*var(--webpage-vw));
  }
  .heroTextSection > * {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom:0;
    margin-left: calc(1*var(--webpage-vw))
  }

  .heroTextSection #restaurantTitle {
    color: var(--lemon-yellow);
    display:flex;
    width: calc(308*var(--fluid-font-scaler));
    height: calc(52*var(--fluid-font-scaler));
    align-items:center;
    margin-top: calc(1.18*var(--webpage-vw));
  }

  .heroTextSection #restaurantSubTitle{
    color: var(--light-grey);
    display: flex;
    height:calc(30*var(--fluid-font-scaler));
    width: calc(112*var(--fluid-font-scaler));
    align-items: center;
    margin-top: calc(0.5*var(--webpage-vw));
  }

  .heroTextSection #restaurantDescription{
    color: var(--light-grey);
    width: calc(248*var(--fluid-font-scaler));
    height: calc(102*var(--fluid-font-scaler));
    margin-top: calc(1.1*var(--webpage-vw));
    display:flex;
    align-items: center;

  }

  .heroTextSection .buttonPrimary{
    margin-top:calc(1.64*var(--webpage-vw))

  }

  .heroImageSection {
    display: flex;
    justify-content: right;
  }

  .heroImage {
    height: calc(29.583*var(--webpage-vw));
    width: calc(26.041*var(--webpage-vw));
    margin-top: calc(1.56*var(--webpage-vw));
    border-radius: calc(1*var(--webpage-vw));
    justify-content: right;
  }

  .highlightsSection {
    display: flex;
    flex-direction: column;
    height: calc(42.44*var(--webpage-vw));
    width: calc(59.722*var(--webpage-vw)) !important;
    padding-left: calc(20.138*var(--webpage-vw)) !important
  }

  .highlightsSection > section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }

  .highlightsSection #highlightsSectionBanner {
    margin-top: calc(1.5*var(--webpage-vw));
    margin-bottom: calc(1.5*var(--webpage-vw));
    height: calc(5.3472*var(--webpage-vw));
    align-items: start;
  }
  .highlightsSection #highlightsSectionBanner .displayText {
    margin-block-start:0;
    margin-block-end: 0;
    display: flex;
    height: var(--fluid-64);
    align-items:end;
  }

  .highlightsCard {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    width: calc(18.3*var(--webpage-vw));
    height: calc(30.486*var(--webpage-vw));
    border-top-left-radius: calc(1*var(--webpage-vw));
    border-top-right-radius: calc(1*var(--webpage-vw));
    overflow: hidden;
  }

  .highlightsCard > section{
    display: flex;
    flex-direction: column;
  }

  .highlightsCard .cardImageSection {
    height: calc(12.865*var(--webpage-vw));
    width: calc(18.379*var(--webpage-vw));
  }

  .cardTextSection{
    height: calc(17.620*var(--webpage-vw));
    width: calc(18.379*var(--webpage-vw));
    padding-bottom: calc(1.6642*var(--webpage-vw));
  }
  .cardTextSection > section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(1.6642*var(--webpage-vw));
    padding-right: calc(1.6642*var(--webpage-vw));
  }

  .cardTextSection .cardSubTitleText{
    color: var(--peach);
  }

  .cardTextSection .paragraphTextRegular{
    margin-top:0;
  }
/*Booking Details*/
  #bookingSectionTableDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #bookingSectionTableDetails .bookingDetailCard {
    display: grid;
    grid-template-columns: 1fr;
  }
  #numOfPeopleCard{
    padding-left: calc(0.83333333333 * var(--webpage-vw));
    padding-right: auto;
    border-right:0;
    margin-right:0;
    width: calc(20.5092 * var(--webpage-vw));
  }
  #reservationDateCard{
    padding-left: auto;
    padding-right: auto;
    border-left: 0;
    border-right:0;
    margin-left: 0;
    margin-right:0;
    width: calc(20.5092 * var(--webpage-vw));
  }
  #reservationTimeCard{
    padding-left: auto;
    padding-right: auto;
    border-right: 0;
    border-left: 0;
    margin-left: 0;
    margin-right: 0;
    width: calc(20.5092 * var(--webpage-vw));
  }
  #specialOccasionCard{
    padding-left: auto;
    padding-right: calc(0.83333333333 * var(--webpage-vw));
    border-left: 0;
    margin-left: 0;
    width: calc(20.5092 * var(--webpage-vw));
  }
  .bookingDetailCard .bookingDetailCardIcon{
    object-fit: contain;
    margin-right:auto;
    margin-bottom: calc(0.43333333333 * var(--webpage-vw));
    margin-top: calc(0.13333333333 * var(--webpage-vw));
  }

  #bookingSectionSpecialRequests{
    height: calc(8.6620 * var(--webpage-vw))
  }

  #bookingSectionSpecialRequests .bookingInputSection{
    height: calc(7.3009 * var(--webpage-vw))
  }

  #bookingSectionSpecialRequests .bookingInputSection #bookingSectionSpecialRequestsField{
    width: 99.1%;
    height:88%;
    background-color: var(--light-grey);
  }

  .bookingSectionConfirmationText{
    display: none;
  }
  #bookingSectionContactInfo .bookingInputSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
  }
  #bookingSectionContactInfo .bookingInputSection #contactInfoEmailOptionField{
    margin-bottom: calc(8*var(--fluid-font-scaler));
  }
  #bookingSectionContactInfo .bookingInputSection #contactInfoPhoneOptionField{
    margin-bottom: calc(8*var(--fluid-font-scaler));
  }
  .contactInfoOptionField{
    display:flex;
    border-color: white!important;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
  }
  .contactInfoOptionField:hover{
    transition: all 0.2s ease-in-out;
    border-color: var(--plant-green)!important;
    border-style: solid;
    border-width: 1px;
  }
  .contactInfoOptionField:has(> input:checked){
    transition: all 0.2s ease-in-out;
    background-color: var(--light-grey);
    border-style: solid;
    border-width: 1px;
  }
  .contactInfoOptionField:has(> input:checked):not(:is(.contactInfoOptionField:hover)){
    transition: all 0.2s ease-in-out;
    border-color: var(--mid-grey)!important;
  }
  .contactInfoOptionField input{
    position:absolute;
    opacity: 0;
    width: 0;
    height:0;
  }
  .contactInfoTextField{
    grid-column: span 2;
  }
  .bookingSectionSubmitForm{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: calc(1* var(--webpage-vw));
    margin-bottom: calc(1*var(--webpage-vw));
  }

  /*Booking Confirmation Details*/

  .bookingConfirmedSection > * {
    padding-left: 1%;
    padding-right: 1%;
    height: calc(41.18055(var(--webpage-vw)))
  }
  #bookingConfirmedSectionDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    padding-bottom: 2.6%;
    padding-top: 2.6%;
    margin-bottom: -3.4%;
    margin-top: -1%
  }
  #bookingConfirmedMessageText{
    margin-top:0;
    margin-bottom: calc(1*var(--webpage-vw));
  }

  .bookingConfirmedSection #bookingConfirmedSectionReturn {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-top: calc(3.3429* var(--webpage-vw));
    margin-bottom: calc(1*var(--webpage-vw));
    padding-left: 0;
  }

  /*Nav Menu*/
  .NavMenu {
    display: inline-flex;
    flex-basis: auto;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navExtendedMenu {
    display: none;
  }

  .navButton {
    display: none;
  }

  .Nav {
    justify-content: space-between;
  }

  .Footer {
    display: flex;
    flex-direction: row;
    height: calc(28.958*var(--webpage-vw));
    background-color: var(--mid-grey);
    align-items: center;
  }

  .footerPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .footerPanel .NavMenu {
    display:flex;
    flex-direction: column;
  }

  .footerPanel .softHighlightText{
    list-style-type:disc;
  }

  .footerPanel .sectionTitleText {
    color: var(--plant-green);
  }

  li {
    list-style-type: none;
  }

  .Logo{
    object-fit: contain;
    width: calc(16.25*var(--webpage-vw));
    height: calc(3.75*var(--webpage-vw));
  }

  .itemText {
    font-family: 'Karla';
    font-size: var(--fluid-20);
    font-weight: 700;
    color: black;
    text-decoration: none;
  }

  .buttonPrimary {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--lemon-yellow);
    height: calc(60*var(--fluid-font-scaler));
    width: calc(200*var(--fluid-font-scaler));
    padding: 0%;
    border-style: none;
    border-radius: calc(0.3*var(--webpage-vw));
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 719px) {
  .window{
    display:flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }

  .webpage {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(100 * var(--webpage-vw));
    justify-content: start;
  }

  .webpage > .PageSection {
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow:hidden;
  }

  .PageSection > div{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-evenly;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: calc(18.691*var(--webpage-vw));
  }

  .headerPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100*var(--webpage-vw));
    height: 100%;
    justify-content: space-between;
    align-self: center;
    align-items: center;
  }

  .heroSection {
    background: var(--plant-green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(81.0747*var(--webpage-vw));
    justify-content: space-between;
  }
  .webpage:not(#homepage) .heroSection{
    background: var(--plant-green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(30*var(--webpage-vw));
    justify-content: space-between;
}
  .heroTextSection{
    width: calc(308*var(--fluid-font-scaler));
    display:flex;
    flex-direction: column;
    padding-top: calc(2.8125*var(--webpage-vw));
  }
  .heroTextSection > * {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom:0;
    margin-left: calc(1*var(--webpage-vw));
  }

  .heroTextSection #restaurantTitle {
    color: var(--lemon-yellow);
    display:flex;
    width: calc(308*var(--fluid-font-scaler));
    height: calc(52*var(--fluid-font-scaler));
    align-items:center;
    margin-top: calc(1.18*var(--webpage-vw));
  }

  .heroTextSection #restaurantSubTitle{
    color: var(--light-grey);
    display: flex;
    height:calc(30*var(--fluid-font-scaler));
    width: calc(112*var(--fluid-font-scaler));
    align-items: center;
    margin-top: calc(0.5*var(--webpage-vw));
  }

.heroTextSection #restaurantDescription{
    color: var(--light-grey);
    width: calc(248*var(--fluid-font-scaler));
    height: calc(102*var(--fluid-font-scaler));
    margin-top: calc(8*var(--webpage-vw));
    display:flex;
    align-items: center;

  }

 .heroTextSection .buttonPrimary{
    margin-top:auto;
    margin-bottom: auto;
    justify-self: center;

  }

  .heroImageSection {
    display: none;
  }

  .heroImage {
    height: calc(29.583*var(--webpage-vw));
    width: calc(26.041*var(--webpage-vw));
    margin-top: calc(1.56*var(--webpage-vw));
    border-radius: calc(1*var(--webpage-vw));
    justify-content: right;
  }

  .highlightsSection {
    display: flex;
    flex-direction: column;
  }

  .highlightsSection > section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }

  .highlightsSection #highlightsSectionBanner {
    margin-top: calc(1.5*var(--webpage-vw));
    margin-bottom: calc(1.5*var(--webpage-vw));
    height: calc(18.0467*var(--webpage-vw));
    align-items: center;
  }
  .highlightsSection #highlightsSectionBanner .displayText {
    margin-block-start:0;
    margin-block-end: 0;
    display: flex;
    align-items:end;
    font-family: 'Karla';
    font-weight: 800;
    font-size: var(--fluid-20);
    text-transform: uppercase;
  }

  .highlightsSection #highlightsSectionBanner .buttonPrimary{
    display: none;
  }

  #highlightsSectionCards{
    display: flex;
    flex-direction: column;
    overflow:auto;
  }

  .highlightsCard {
    display: flex;
    flex-direction: column;
    height: calc(28.7383 * var(--webpage-vw));
    width: 100%;
    overflow: hidden;
  }

  .highlightsCard > section{
    display: flex;
    flex-direction: column;
    border-top-style: groove;
    justify-content:center;
    padding-top: calc(2*var(--webpage-vw))
  }

  .highlightsCard .cardImageSection {
    display: none;
    height: calc(12.865*var(--webpage-vw));
    width: calc(18.379*var(--webpage-vw));
  }

  .cardTextSection{
    height: 100%;
    width: 100%;
  }
  .cardTextSection > section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(1.6642*var(--webpage-vw));
    padding-right: calc(1.6642*var(--webpage-vw));
    padding-bottom: calc(1.6642*var(--webpage-vw));
  }

  .cardTextSection .cardTitleRow {
    height: calc(4.906 * var(--webpage-vw))
  }
  .cardTextSection .cardSubTitleText{
    color: var(--plant-green);
  }

  .cardTextSection .paragraphTextRegular{
    display: -webkit-box;
    width: calc(297*var(--fluid-font-scaler));
    text-overflow: ellipsis;
    overflow:hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .cardTextSection .cardLinkRow {
    display: none;
  }

  #bookingSectionTableDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #bookingSectionTableDetails .bookingDetailCard {
    display: flex;
    flex-direction: column;
    height: calc(21.26168* var(--webpage-vw));
    width: calc(21.980875*var(--webpage-vw));
    align-items: center;
    justify-content: space-around;
    margin:0;
    padding-left: 0;
    padding-right: 0;
    border:none;
  }

  .bookingDetailCard legend{
    display: none;
  }
  .bookingDetailCard .bookingDetailCardIcon{
    height: calc(12.6168*var(--webpage-vw));
    object-fit: contain;
    width: auto;
  }

  .bookingDetailCard .bookingDetailInputField{
    margin:0;
    padding: 0;
    width: calc(21.980875*var(--webpage-vw));
  }

  .bookingDetailInputField option {
    width: calc(21.980875*var(--webpage-vw));
  }

  #bookingSectionSpecialRequests{
    display:flex;
    justify-content: center;
    align-items: start;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    height: calc(38.5514* var(--webpage-vw));
  }

  #bookingSectionSpecialRequests .bookingInputSection{
    display: flex;
    border:none;
    height: calc(34.5794* var(--webpage-vw));
    width: calc(92.056*var(--webpage-vw));
    margin-left: 0;
    margin-right:0;
    padding-left: 0;
    padding-right:0;
  }

  #bookingSectionSpecialRequests .bookingInputSection #bookingSectionSpecialRequestsField{
    width: 100%;
    height:100%;
    background-color: var(--light-grey);
  }

  .bookingInputSection legend{
    display: none;
  }

  #bookingSectionContactInfo{
    height: calc(56.0747* var(--webpage-vw));
  }
  #bookingSectionContactInfo .bookingSectionConfirmationText{
    display:flex;
    margin:0;
    padding-top: calc(6.0747* var(--webpage-vw));
    padding-bottom: calc(0.4672*var(--webpage-vw));
    align-content: end;
  }
  #bookingSectionContactInfo .bookingInputSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-content: center;
    height: calc(42.7570* var(--webpage-vw));
    max-width: calc(92.056*var(--webpage-vw));
  }
  #bookingSectionContactInfo .bookingInputSection #contactInfoEmailOptionField{
    margin-left: calc(8*var(--fluid-font-scaler));
    margin-right: auto;
    margin-bottom: calc(8*var(--fluid-font-scaler));
  }
  #bookingSectionContactInfo .bookingInputSection #contactInfoPhoneOptionField{
    margin-left: auto;
    margin-right: calc(8*var(--fluid-font-scaler));
    margin-bottom: calc(8*var(--fluid-font-scaler));
  }
  #bookingSectionContactInfo .bookingInputSection #contactInfoTextField{
    margin-left: calc(8*var(--fluid-font-scaler));
    margin-right: calc(8*var(--fluid-font-scaler));
  }
  .contactInfoOptionField{
    display:flex;
    border-color: white!important;
    max-height: calc(23.3644* var(--webpage-vw));
    width: calc(28.2710* var(--webpage-vw));
    align-items: center;
    justify-content: center;
  }
  .contactInfoOptionField:hover{
    transition: all 0.2s ease-in-out;
    border-color: var(--mid-grey)!important;
  }
  .contactInfoOptionField:has(> input:checked){
    transition: all 0.2s ease-in-out;
    background-color: var(--light-grey);
    border-color: var(--mid-grey)!important;
  }
  .contactInfoOptionField input{
    position:absolute;
    opacity: 0;
    width: 0;
    height:0;
  }
  .contactInfoTextField{
    grid-column: span 2;
    height: calc(06.3084* var(--webpage-vw));
    max-width: calc(354 * var(--fluid-font-scaler));
  }
  .bookingSectionSubmitForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(7.2429* var(--webpage-vw));
    margin-bottom: calc(1*var(--webpage-vw));
  }
  #bookingConfirmedSectionBanner{
    display: flex;
    align-items: center;
    height:calc(17.2897*var(--webpage-vw));
    border-bottom-style: groove;
    border-width: 1px;
  }
  #bookingConfirmedSectionDetails{
    display: flex;
    flex-direction: column;
    height: calc(116.794 * var(--webpage-vw));
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    border-radius: calc(2*var(--webpage-vw));
    margin-left: calc(-2*var(--webpage-vw));
    margin-right: calc(-2*var(--webpage-vw));
    margin-top: calc(6.0747*var(--webpage-vw));
    padding-left: calc(2*var(--webpage-vw));
    padding-right: calc(2*var(--webpage-vw));
  }
  #bookingConfirmedSectionDetails * {
    display: flex;
    margin: 0;
  }
  .bookingConfirmedSection #bookingConfirmedSectionReturn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(3.3429* var(--webpage-vw));
    margin-bottom: calc(1*var(--webpage-vw));
  }

/* Nav Menu*/
  .NavMenu {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .Nav {
    display: flex;
    justify-content: right;
  }

  .Nav .NavMenu{
    display: none;
  }

  .navExtendedMenu.retracted{
    height: 0vw;
    transition: all 0.3s ease-in-out;
  }

  .navExtendedMenu.extended{
    transition: all 0.3s ease-in-out;
    height: calc(43.2 * var(--webpage-vw));
    width: 100%;
    background-color: #333333;
  }

  .navExtendedMenu.extended .NavMenu{
    display:flex;
    flex-direction: column;
    justify-items: center !important;
  }
  .navExtendedMenu .NavMenu li{
    display:flex;
    width: 100%;
    height: calc(7*var(--webpage-vw));
    justify-content:center;
    align-items: center;
    border-bottom-style: groove;
    border-bottom-width: 1.5px;
  }

  .navExtendedMenu .NavMenu li > *{
    display:inline-block;
    width: 100%;
    justify-self: center;
    text-align: center;
    color:white;
    text-shadow: black 1px 1px;
  }

  .Footer {
    display: flex;
    flex-direction: row;
    height: calc(28.958*var(--webpage-vw));
    background-color: var(--mid-grey);
    align-items: center;
  }

  .webpage:not(#homepage) .Footer{
    display:none;
  }

  .footerPanel {
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #homepage .footerPanel .NavMenu {
    display:none;
  }

.footerPanel > section{
    display:none;
  }

  li {
    list-style-type: none;
  }

  .Logo{
    object-fit: contain;
    width: 100%;
  }

  .itemText {
    font-family: 'Karla';
    font-size: var(--fluid-16);
    font-weight: 700;
    color: black;
    text-decoration: none;
  }

  .buttonPrimary {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--lemon-yellow);
    height: calc(35*var(--fluid-font-scaler));
    width: calc(148*var(--fluid-font-scaler));
    padding: 0%;
    border-style: none;
    border-radius: calc(3.5*var(--webpage-vw));
    align-items: center;
    justify-content: center;
  }

  .thickGreyBorder {
    border-style: solid;
    border-width: 6px;
    border-radius: calc(1*var(--webpage-vw));
    border-color: var(--mid-grey);
  }
}